Repository Planning-Inspectorate/appeals-back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-build.yml, azure-pipelines-e2e-appeals.yml

azure-pipelines-build.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - template: ../steps/node_script.yml
          parameters:
  ...

azure-pipelines-e2e-appeals.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Appeals
    pool: pins-odt-agent-pool-tests
    steps:
    - task: ShellScript@2
      inputs:
        scriptPath: appeals/e2e/install-chromium.sh
      displayName: Install Chromium
      condition: eq(variables['agent.os'], 'Linux')
    - task: Npm@1
      inputs:
  ...

feat(appeals): regenerate appeals-details snapshot
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
Due: azure-pipelines-build.yml

feat(appeals): fix e2e test to match a2-389
  appeals/e2e/cypress/e2e/back-office-appeals/reviewAppellantCase.spec.js
Due: azure-pipelines-build.yml, azure-pipelines-e2e-appeals.yml

feat(appeals): skip tests incompatible with current test environment state
  appeals/e2e/cypress/e2e/back-office-appeals/assignUserToCase.spec.js
  appeals/e2e/cypress/e2e/back-office-appeals/reviewAppellantCase.spec.js
  appeals/e2e/cypress/e2e/back-office-appeals/scheduleSiteVisit.spec.js
  appeals/e2e/cypress/e2e/back-office-appeals/startCase.spec.js
Due: azure-pipelines-build.yml, azure-pipelines-e2e-appeals.yml

feat(appeals): disable e2e tests from running on pr
  azure-pipelines-e2e-appeals.yml
Due: azure-pipelines-build.yml

feat(appeals): remove unused e2e yml statements
  azure-pipelines-e2e-appeals.yml
Due: azure-pipelines-build.yml

feat(appeals): add regenerated appeal-details snapshot
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
Due: azure-pipelines-build.yml

fix(appeals): address security logs site visit cross-site scripting
  appeals/web/src/server/appeals/appeal-details/application-decision-date/application-decision-date.controller.js
Due: azure-pipelines-build.yml

fix(appeals): address security logs cross-site scripting and xss
  appeals/api/src/server/endpoints/addresses/__tests__/addresses.test.js
  appeals/api/src/server/endpoints/addresses/addresses.controller.js
  appeals/api/src/server/endpoints/appeal-timetables/appeal-timetables.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/web/src/server/appeals/appeal-details/address/address.controller.js
  appeals/web/src/server/appeals/appeal-details/application-decision-date/application-decision-date.controller.js
  appeals/web/src/server/appeals/appeal-details/change-lpa-reference/change-lpa-reference.controller.js
  appeals/web/src/server/appeals/appeal-details/inspector-access/inspector-access.controller.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.controller.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/safety-risks/safety-risks.controller.js
  appeals/web/src/server/appeals/appeal-details/service-user/service-user.controller.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/url-utilities.js
Due: azure-pipelines-build.yml

fix(appeals): address security logs site visit xss
  appeals/api/src/server/endpoints/site-visits/site-visits.controller.js
Due: azure-pipelines-build.yml

fix(appeals): address security logs
  appeals/web/src/server/appeals/appeal-details/address/address.controller.js
  appeals/web/src/server/appeals/appeal-details/application-decision-date/application-decision-date.controller.js
  appeals/web/src/server/appeals/appeal-details/change-lpa-reference/change-lpa-reference.controller.js
  appeals/web/src/server/appeals/appeal-details/inspector-access/inspector-access.controller.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.controller.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/safety-risks/safety-risks.controller.js
  appeals/web/src/server/appeals/appeal-details/service-user/service-user.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
Due: azure-pipelines-build.yml

fix(appeals): address security logs appela docs redirection
  appeals/web/src/server/appeals/appeal-details/costs/__tests__/costs.test.js
  appeals/web/src/server/appeals/appeal-details/internal-correspondence/__tests__/internal-correspondence.test.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
Due: azure-pipelines-build.yml

fix(infrastructure): fix vnet peering to horizon, reference the correct remote vnet
  infrastructure/data-horizon.tf
  infrastructure/networking-secondary.tf
  infrastructure/networking.tf
Due: none

ci: run correct infra/code pipelines in merge queue
  azure-pipelines-ci.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-build.yml

fix(infrastructure): horizon data block needs horizon provider
  infrastructure/data-horizon.tf
Due: none

revert: "ci: run correct infra/code pipelines in merge queue"
  azure-pipelines-ci.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-build.yml

fix(appeals): updated folder names for new notify rows
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
Due: azure-pipelines-build.yml

fix(appeals): using appeal doc type constants
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
Due: azure-pipelines-build.yml

feat(appeals): add change page for development description
  appeals/api/src/server/common/validators/boolean-with-conditional-string-parameters.js
  appeals/api/src/server/common/validators/string-parameter.js
  appeals/api/src/server/endpoints/addresses/addresses.validators.js
  appeals/api/src/server/endpoints/appeals/appeals.validators.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.validators.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.validators.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/documents/documents.validators.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.validators.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.validators.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/development-description/__tests__/__snapshots__/development-description.test.js.snap
  appeals/web/src/server/appeals/appeal-details/development-description/__tests__/development-description.test.js
  appeals/web/src/server/appeals/appeal-details/development-description/development-description.controller.js
  appeals/web/src/server/appeals/appeal-details/development-description/development-description.mapper.js
  appeals/web/src/server/appeals/appeal-details/development-description/development-description.router.js
  appeals/web/src/server/appeals/appeal-details/development-description/development-description.service.js
  appeals/web/src/server/appeals/appeal-details/development-description/development-description.validators.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
Due: azure-pipelines-build.yml

feat(appeals): fixed as per PR
  appeals/web/src/server/appeals/appeal-details/development-description/__tests__/__snapshots__/development-description.test.js.snap
  appeals/web/src/server/appeals/appeal-details/development-description/__tests__/development-description.test.js
Due: azure-pipelines-build.yml

feat(web): manage new rows upload headings
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
Due: azure-pipelines-build.yml

feature(web): add applicationDecision to appellant cases
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.controller.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.validators.js
Due: azure-pipelines-build.yml

fix(web): bugfix/withdrawal-submit-date-in-british-time
  appeals/web/src/server/appeals/appeal-details/withdrawal/withdrawal.controller.js
Due: azure-pipelines-build.yml

chore(infrastructure): fix notify keys in prod and training
  infrastructure/environments/prod.tfvars
  infrastructure/environments/training.tfvars
Due: none

feat(api): feature/A2-279 appeal withdrawn comms
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/withdrawal/__tests__/withdrawal.test.js
  appeals/api/src/server/endpoints/withdrawal/withdrawal.controller.js
  appeals/api/src/server/endpoints/withdrawal/withdrawal.service.js
Due: azure-pipelines-build.yml

chore(api): add sample notify keys to env example
  appeals/api/.env.example
Due: azure-pipelines-build.yml

Path conditions:
  azure-pipelines-build.yml: any file but: infrastructure
  azure-pipelines-e2e-appeals.yml: any of: appeals/e2e/cypress/e2e/back-office-appeals
